/* body {
  background-color: #F4F5F7;
  margin: 0;
} */

.service-block {
  margin-bottom: 80px;
}

.service-card {
  display: flex;
  flex-direction: row;
  gap: 120px;
  align-items: stretch;
}

.service-card.reverse {
  flex-direction: row-reverse;
}

.left-side-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  flex: 0 0 auto; 
  width: 280px;
}

.service-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.left-side-card button {
  margin-top: auto;
}

.right-side-card {
  flex: 1;
}

.service-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.service-list li {
  position: relative;
  margin-top: 20px;
}

.service-list li::before {
  content: "\25B3";
  position: absolute;
  left: 0;
  top: 0;
  color: #5a7d9a;
  font-size: 30px;
  font-weight: bold;
}

.text-wrapper {
  margin-left: 50px;
}

.item-title {
  margin: 0;
  font-size: 22px;
}

.item-desc {
  margin: 5px 0 0;
  font-size: 18px;
  color: #63696F;
}

/* АДАПТИВ --------------------------------------------------------------------------*/


@media (min-width: 769px) {
  .desktop-button {
    display: block;
    margin-top: auto;
    width: 100%;
  }
  
  .mobile-button {
    display: none;
  }
}

@media (max-width: 768px) {
  .breadcrumb {
    font-size: 14px;
  }

  .services-container {
    padding: 30px;
    gap: 20px;
    max-width: 100%;
  }

  .service-block,
  .request-block {
    margin-bottom: 30px;
  }
  
  .service-card,
  .request-card {
    flex-direction: column;
    gap: 20px;
  }

  .left-side-card {
    width: 100%;
  }

  .service-image,
  .request-image {
    max-width: 100%;
  }

  .service-list li::before {
    font-size: 20px;
  }

  .text-wrapper {
    margin-left: 30px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 16px;
  }

  .item-title {
    font-size: 16px;
  }

  .item-desc {
    font-size: 14px;
  }

  button,
  .request-form button {
    font-size: 16px;
    padding: 8px 14px;
  }

  .request-left p {
    font-size: 16px;
    margin-top: 0;
  }

  .request-form input,
  .request-form select {
    font-size: 14px;
    padding: 10px;
  }

  .request-form label {
    font-size: 14px;
  }

  .request-right .note {
    font-size: 12px;
    text-align: center;
  }
  
  .desktop-button {
    display: none;
  }
  
  .right-side-card {
    order: 2;
  }
  
  .mobile-button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 20px auto 0;
    text-align: center;
  }
  
  .service-card.reverse {
    flex-direction: column;
  }

  .request-left p {
    margin-top: 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  
    .services-container {
    padding: 30px;
    gap: 30px;
    max-width: 100%;
  }

  .service-card,
  .request-card {
    flex-direction: row;
    gap: 50px;
  }

  .left-side-card {
    width: 280px;
  }

  h1 {
    font-size: 32px;
    margin-bottom: 25px;
  }

  h2 {
    font-size: 20px;
  }

  .item-title {
    font-size: 18px;
  }

  .item-desc {
    font-size: 15px;
  }

  button,
  .request-form button {
    font-size: 16px;
    padding: 10px 18px;
  }

  .request-left p {
    font-size: 18px;
  }

  .request-form input,
  .request-form select {
    font-size: 16px;
    padding: 12px;
  }

  .request-form label {
    font-size: 16px;
  }

  .request-right .note {
    font-size: 14px;
  }

  .request-left p {
    margin-top: 0;
  }
}