.articles-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    row-gap: 20px;
    column-gap: 20px;
}

.article-item {
  background: var(--color-light-gray);
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 49%;
  padding: 16px;
  border: 1px solid var(--color-gray);
}

.article-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.article-description {
  font-size: 1rem;
  color: var(--color-gray);
}

.article-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 18px;
}

.article-footer {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}